### EXERCÍCIO DE FIXACÃO - BANCO DE DADOS SQL
##### Nome do banco de dados = CrisDB_py.db
##### Tabela = paises
##### País | Capital | Código DDI | Língua

#### 1 - Criação do Banco de dados e da tabela
##### Comando: CREATE

In [1]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

c.execute(("""CREATE TABLE IF NOT EXISTS paises (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          pais VARCHAR(50),
          capital VARCHAR(50),
          ddi INTEGER(3)
)"""))

BD.commit()
print("Tabela pais criada com sucesso")
BD.close()

Tabela pais criada com sucesso

#### 2- Alterar tabela paises, inserindo nova coluna: lingua
##### Comando: ALTER

In [2]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

c.execute("""ALTER TABLE paises ADD lingua VARCHAR(50)""")

BD.commit()
print("Tabela paises alterada com sucesso")
BD.close()

Tabela paises alterada com sucesso

#### 3- Inserir registros à tabela paises
##### Comando: INSERT

In [3]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

c.execute("""INSERT INTO paises(pais, capital, ddi, lingua)
          VALUES ('Brasil', 'Brasilia','55','portugues')""")
c.execute("""INSERT INTO paises(pais, capital, ddi, lingua)
          VALUES ('Estados Unidos', 'Washington','1','ingles')""")
c.execute("""INSERT INTO paises(pais, capital, ddi, lingua)
          VALUES ('Argentina', 'Buenos Aires','54','espanhol')""")

BD.commit()
print("Paises adicionados com sucesso V1")
BD.close()

Paises adicionados com sucesso V1

#### 4- Inserir vários registros de uma lista à tabela paises 
##### Criar lista de paises, Comando: INSERT e .executemany

In [4]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

lista = [
    ('Canada', 'Ottawa', '1', 'ingles e frances'),
    ('Portugal', 'Lisboa', '351', 'portugues'),
    ('Japao', 'Tokio', '81', 'japones'),
    ('Turquia', 'Ancara', '90', 'turco')
]

c.executemany("""INSERT INTO paises(pais, capital, ddi, lingua)
              VALUES (?,?,?,?)""",
              lista)

BD.commit()
print("Paises listados adicionados com sucesso V2")
BD.close()

Paises listados adicionados com sucesso V2

#### 5- Inserir registros perguntando ao usuário 
##### Comando: INSERT e input()

In [5]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

p_pais = input('País: ')
p_capital = input('Capital: ')
p_ddi = input('DDI: ')
p_lingua = input('Língua: ')

c.execute("""INSERT INTO paises(pais, capital, ddi, lingua)
              VALUES (?,?,?,?)""",
              (p_pais, p_capital, p_ddi, p_lingua))

BD.commit()
print("Pais adicionado com sucesso V3")
BD.close()

Pais adicionado com sucesso V3

#### 6- Atualizar item da tabela
##### Comando: UPDATE | WHERE

In [6]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

id_paises = 2
novo_pais = 'Italia'
nova_capital = 'Roma'
novo_ddi = '39'
nova_lingua = 'italiano'

c.execute("""UPDATE paises SET pais=?, capital=?, ddi=?, lingua=? WHERE id=?""",
          (novo_pais, nova_capital, novo_ddi, nova_lingua, id_paises))

BD.commit()
print(f"Pais {id_paises} modificado com sucesso V1")
BD.close()

Pais 2 modificado com sucesso V1

#### 7- Atualizar item da tabela perguntando para usuário
##### Comandos: SELECT * FROM | input() | UPDATE | WHERE

In [7]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

c.execute("""SELECT * FROM paises""")

for linha in c.fetchall():
    print(linha)

id_paises = input('id do país: ')
novo_pais = input('País: ')
nova_capital = input('Capital: ')
novo_ddi = input('DDI: ')
nova_lingua = input('Língua: ')

c.execute("""UPDATE paises SET pais=?, capital=?, ddi=?, lingua=? WHERE id=?""",
          (novo_pais, nova_capital, novo_ddi, nova_lingua, id_paises))

BD.commit()
print(f"Pais {id_paises} modificado com sucesso V2")
BD.close()

(1, 'Brasil', 'Brasilia', 55, 'portugues')
(2, 'Italia', 'Roma', 39, 'italiano')
(3, 'Argentina', 'Buenos Aires', 54, 'espanhol')
(4, 'Canada', 'Ottawa', 1, 'ingles e frances')
(5, 'Portugal', 'Lisboa', 351, 'portugues')
(6, 'Japao', 'Tokio', 81, 'japones')
(7, 'Turquia', 'Ancara', 90, 'turco')
(8, 'Islandia', 'Reiquiavique', 354, 'islandes')
Pais 5 modificado com sucesso V2

#### 8- Deletar item da tabela
##### Comandos: DELETE FROM | WHERE

In [8]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

id_paises = "1"

c.execute("""DELETE FROM paises WHERE id = ?""", (id_paises))

BD.commit()
print(f"Pais {id_paises} deletado com sucesso")
BD.close()

Pais 1 deletado com sucesso

#### 9- Buscar registro na tabela existente
##### Comando: SELECT

In [9]:
import sqlite3

BD = sqlite3.connect("CrisDB_py.db")
c = BD.cursor()

c.execute("""SELECT * FROM paises""")

for linha in c.fetchall():
    print(linha)

BD.close()

(2, 'Italia', 'Roma', 39, 'italiano')
(3, 'Argentina', 'Buenos Aires', 54, 'espanhol')
(4, 'Canada', 'Ottawa', 1, 'ingles e frances')
(5, 'Noruega', 'Oslo', 47, 'noruegues')
(6, 'Japao', 'Tokio', 81, 'japones')
(7, 'Turquia', 'Ancara', 90, 'turco')
(8, 'Islandia', 'Reiquiavique', 354, 'islandes')