In [9]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("""CREATE TABLE IF NOT EXISTS usuarios (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          nome VARCHAR(50),
          email VARCHAR(100),
          senha VARCHAR(50)
)""")

print("Tabela Usuarios Criada com sucesso")

BD.commit()

BD.close()

Tabela Usuarios Criada com sucesso

In [10]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c= BD.cursor()

c.execute("""ALTER TABLE usuarios ADD data_nascimento VARCHAR(10)""")

print("Tabela Usuarios Alterada com sucesso")

BD.commit()

BD.close()

OperationalError: duplicate column name: data_nascimento

In [11]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("""INSERT INTO usuarios(nome, email, senha, data_nascimento)
          VALUES('Joao','joao_e_maria@gmail.com','Maria123','21/05/1989')""")
c.execute("""INSERT INTO usuarios(nome, email, senha, data_nascimento)
          VALUES('Roberto','beto@gmail.com','Beto123','15/11/2000')""")
c.execute("""INSERT INTO usuarios(nome, email, senha, data_nascimento)
          VALUES('Marcia','Marcinha@gmail.com','Marcinha123','07/01/1993')""")

print("Usuarios Adicionados com sucesso V1")

BD.commit()

BD.close()

Usuarios Adicionados com sucesso V1

In [12]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("SELECT * FROM usuarios")

print(c.fetchall())

[(1, 'Joao', 'joao_e_maria@gmail.com', 'Maria123', '21/05/1989'), (2, 'Roberto', 'beto@gmail.com', 'Beto123', '15/11/2000'), (3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993')]

In [14]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db", timeout=60)

c= BD.cursor()

lista = [
    ('Fernando', 'Nando89@gmail.com','Nando123', '21/05/1989'),
    ('Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999'),
    ('Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988')
]

c.executemany("""INSERT INTO usuarios(nome, email, senha, data_nascimento) VALUES(?,?,?,?)""",
              lista)

print("Usuarios Adicionados com sucesso V2")

BD.commit()

BD.close()

Usuarios Adicionados com sucesso V2

In [15]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("SELECT * FROM usuarios")

print(c.fetchall())

[(1, 'Joao', 'joao_e_maria@gmail.com', 'Maria123', '21/05/1989'), (2, 'Roberto', 'beto@gmail.com', 'Beto123', '15/11/2000'), (3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993'), (4, 'Fernando', 'Nando89@gmail.com', 'Nando123', '21/05/1989'), (5, 'Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999'), (6, 'Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988')]

In [18]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")
c = BD.cursor()

p_nome = input('Nome: ')
p_email = input('Email: ')
p_senha = input ('Senha: ' )
p_data_de_nascimento = input ('Data de Nascimento (dd/mm/yyyy): ')

c.execute("""INSERT INTO usuarios(nome, email, senha, data_nascimento) VALUES (?,?,?,?)""",
          (p_nome, p_email, p_senha, p_data_de_nascimento))

print("Usuarios Adicionados com sucesso V3")

BD.commit()

BD.close()

Usuarios Adicionados com sucesso V3

In [19]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("SELECT * FROM usuarios")

print(c.fetchall())

[(1, 'Joao', 'joao_e_maria@gmail.com', 'Maria123', '21/05/1989'), (2, 'Roberto', 'beto@gmail.com', 'Beto123', '15/11/2000'), (3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993'), (4, 'Fernando', 'Nando89@gmail.com', 'Nando123', '21/05/1989'), (5, 'Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999'), (6, 'Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988'), (7, 'Cris', 'cris@gmail.com', 'Cris123', '06/09/1981')]

In [28]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")
c = BD.cursor()

id_usuario = 1
novo_nome = "Luiza"
novo_email = "luiza@uol.com.br"
nova_senha = "souLinda123"
nova_data_de_nascimento = "02/02/2002"

c.execute("""UPDATE usuarios SET nome=?, email=?, senha=?, data_nascimento=? WHERE id=? """,
          (novo_nome, novo_email, nova_senha, nova_data_de_nascimento, id_usuario))

BD.commit()

print(f"Usuario {id_usuario} modificado com sucesso V1")

BD.close()

Usuario 1 modificado com sucesso V1

In [29]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("SELECT * FROM usuarios")

print(c.fetchall())

[(1, 'Luiza', 'luiza@uol.com.br', 'souLinda123', '02/02/2002'), (2, 'Roberto', 'beto@gmail.com', 'Beto123', '15/11/2000'), (3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993'), (4, 'Fernando', 'Nando89@gmail.com', 'Nando123', '21/05/1989'), (5, 'Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999'), (6, 'Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988'), (7, 'Cris', 'cris@gmail.com', 'Cris123', '06/09/1981')]

In [31]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()


c.execute("""SELECT * FROM usuarios""")

for linha in c.fetchall():
    print(linha)

id_usuario = input ('Id do usuario : ' ) 
novo_nome =input('Nome: ') 
novo_email = input ('Email: ' )
nova_senha = input ('Senha: ' ) 
nova_data_de_nascimento = input ('Data de Nascimento (dd/mm/yyyy): ')

c.execute("""UPDATE usuarios SET nome=?, email=?, senha=?, data_nascimento=? WHERE id=? """, 
          (novo_nome, novo_email, nova_senha, nova_data_de_nascimento,id_usuario))

BD.commit()

print(f"Usuarios { id_usuario } modiﬁcado com sucesso V2")

BD.close()

(1, 'Luiza', 'luiza@uol.com.br', 'souLinda123', '02/02/2002')
(2, 'Roberto', 'beto@gmail.com', 'Beto123', '15/11/2000')
(3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993')
(4, 'Fernando', 'Nando89@gmail.com', 'Nando123', '21/05/1989')
(5, 'Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999')
(6, 'Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988')
(7, 'Cris', 'cris@gmail.com', 'Cris123', '06/09/1981')
Usuarios 2 modiﬁcado com sucesso V2

In [32]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

c.execute("SELECT * FROM usuarios")

print(c.fetchall())

[(1, 'Luiza', 'luiza@uol.com.br', 'souLinda123', '02/02/2002'), (2, 'Ric', 'rico@gmail.com', 'Rico$$$', '04/09/1979'), (3, 'Marcia', 'Marcinha@gmail.com', 'Marcinha123', '07/01/1993'), (4, 'Fernando', 'Nando89@gmail.com', 'Nando123', '21/05/1989'), (5, 'Gilmar', 'Gil@gmail.com', 'Gilmar123', '07/12/1999'), (6, 'Carlos', 'carlinhos1988@gmail.com', 'Carlinhos123', '18/06/1988'), (7, 'Cris', 'cris@gmail.com', 'Cris123', '06/09/1981')]

In [33]:
import sqlite3

BD = sqlite3.connect("MyBD_py.db")

c = BD.cursor()

id_usuario = "5"

c.execute("""DELETE FROM usuarios WHERE id=?""",
          (id_usuario))


BD.commit()

print(f"Usuarios { id_usuario } deletado com sucesso")

BD.close()

Usuarios 5 deletado com sucesso